.modal {
  z-index: 1001;
  opacity: 0;
  visibility: hidden; }
  .modal-content {
    background: #FFFFFF;
    overflow: auto;
    margin-bottom: 56px;
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out; }
    @media only screen and (min-width: 960px) {
      .modal-content {
        width: 500px;
        margin: 20px auto; } }
    @media only screen and (max-width: 960px) {
      .modal-content {
        max-height: 100%;
        margin: 0; } }
  .modal__body {
    background: #FFFFFF;
    height: 100VH;
    width: 100%;
    margin-bottom: 72px; }
  .modal__header {
    display: flex;
    flex-direction: column; }
    .modal__header img {
      background-size: cover;
      width: 100%; }

.modal-background {
  transition: opactiy 2s ease-in-out; }

.fade-in {
  opacity: 1;
  visibility: visible;
  display: flex; }
  .fade-in .modal-background {
    animation: fade 500ms; }
  .fade-in .modal-content {
    animation: fade 500ms, animate-up 500ms; }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes animate-up {
  0% {
    transform: translateY(-50px); }
  100% {
    transform: translateY(0px); } }

.navbar {
  border-bottom: 1px solid #e8e8e8;
  z-index: 1000; }

.navbar-item img {
  max-height: 100%;
  left: 50%;
  position: relative;
  margin-left: -16px; }

@media only screen and (max-width: 960px) {
  .navbar-brand {
    display: block; } }

.navbar-burger {
  position: absolute;
  right: 0px; }

.back-btn {
  position: absolute;
  height: 100%;
  padding: 13px; }
  .back-btn img {
    height: 24px;
    width: auto; }

.logo {
  height: auto;
  margin-top: 9px;
  display: flex; }
  @media only screen and (max-width: 1087px) {
    .logo {
      position: absolute;
      margin-left: 15px; } }
  .logo img {
    height: 34px;
    width: 34px; }
  .logo .rest-name {
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 600;
    color: #f89622; }

.sticky-button {
  position: sticky;
  bottom: 0px;
  background: #FFFFFF;
  height: auto;
  z-index: 999;
  width: 100%;
  padding: 10px;
  box-shadow: 0px -2px 20px 1px rgba(0, 0, 0, 0.08); }
  @media only screen and (min-width: 960px) {
    .sticky-button--modal {
      width: 500px; } }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .sticky-button {
      position: fixed; } }

.button-container {
  padding: 16px;
  display: flex; }
  .button-container--cart {
    bottom: 56px;
    padding: 16px 60px;
    width: 100%;
    position: fixed;
    z-index: 999; }
  .button-container--cart-desktop {
    padding-bottom: 0; }

.btn {
  border: none;
  text-align: center;
  padding: 14px 30px;
  font-size: 20px;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  cursor: pointer; }
  .btn-disabled {
    background: #d8d8d8;
    cursor: none; }
  .btn:hover {
    color: #FFFFFF; }
  .btn__menu-item-overlay {
    transition: transform 150ms ease-in-out, opacity 150ms ease-in-out;
    position: absolute;
    transform: translateY(150px);
    opacity: 0;
    background: #f89622;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 8px 14px;
    font-size: 14px;
    left: 50%;
    margin-left: -45px; }
  .btn--checkout {
    width: 100%;
    padding: 0px;
    display: flex;
    background-color: #f89622;
    color: #FFFFFF;
    border-radius: 28px;
    box-shadow: 0px -2px 20px 1px rgba(0, 0, 0, 0.08); }
  .btn--cta {
    transition: transform 150ms ease-in-out, box-shadow 150ms ease-in-out, background-color 150ms ease-in-out;
    width: 100%;
    background: #f89622;
    transform: translateY(0);
    border-radius: 10px;
    color: #FFFFFF;
    flex: 2; }
    .btn--cta--cart-desktop {
      padding: 10px 20px; }
    .btn--cta:hover {
      transform: translateY(-2px);
      box-shadow: 0px 24px 20px -20px rgba(255, 133, 32, 0.88);
      background-color: #f78a09; }
    .btn--cta--light {
      background-color: #f9a94a; }
      .btn--cta--light:hover {
        background-color: #f89d31; }
    .btn--cta--width-auto {
      width: auto; }
    .btn--cta a {
      color: #FFFFFF; }
  .btn__price {
    flex: 1;
    padding: 16px 20px;
    background-color: #F87509;
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px; }
  .btn__copy {
    padding: 16px 20px;
    flex: 4; }
  .btn__secondary {
    transition: transform 150ms ease-in-out, box-shadow 150ms ease-in-out, background-color 150ms ease-in-out;
    border: 2px solid #f89622;
    color: #f89622;
    border-radius: 10px;
    flex: 1; }
    .btn__secondary:hover {
      transform: translateY(-2px);
      background: #f89622;
      box-shadow: 0px 24px 20px -20px rgba(255, 133, 32, 0.88);
      color: #FFFFFF; }
  .btn--map {
    padding: 30px 0px; }

.btn--active {
  background-color: #e07d07; }

.cart-mobile-btn {
  display: none; }
  @media only screen and (max-width: 960px) {
    .cart-mobile-btn {
      position: fixed;
      bottom: 0px;
      width: 100%;
      display: flex; }
      .cart-mobile-btn__price {
        background: #f89622;
        padding: 18px;
        flex: 1; }
      .cart-mobile-btn__text {
        background: #f9a23b;
        padding: 18px;
        flex: 2; }
      .cart-mobile-btn__price, .cart-mobile-btn__text {
        padding: 16px;
        color: white;
        text-align: center;
        font-weight: 600;
        font-size: 18px; } }

.title {
  font-family: 'Roboto Slab', serif; }

h1 {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 70px;
  text-shadow: 1px 1px 1px black;
  font-family: 'Roboto Slab', serif; }
  @media only screen and (max-width: 960px) {
    h1 {
      font-size: 36px; } }

h2 {
  font-size: 26px;
  font-family: 'Roboto Slab', serif;
  color: #303030;
  font-weight: 900; }

h3 {
  color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 900; }
  @media only screen and (max-width: 960px) {
    h3 {
      font-size: 18px; } }

h4 {
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-bottom: 20px; }

h5 {
  color: #303030;
  font-size: 16px;
  font-weight: 700; }

h6 {
  color: #303030;
  font-size: 16px;
  padding: 0px 16px; }

.price {
  font-size: 14px;
  color: #f89622; }
  @media only screen and (min-width: 960px) {
    .price--menu {
      z-index: 998;
      position: absolute;
      background: #FFFFFF;
      padding: 4px 10px;
      top: 10px;
      font-weight: 600;
      box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.08);
      right: 10px;
      border-radius: 4px; } }

.subheader {
  color: #8C8C8C;
  font-size: 14px; }

.label {
  margin-bottom: 8px !important; }
  .label--light {
    color: #A4A4A4; }
  .label--subheader {
    font-weight: 500; }
  .label--checkout {
    flex: 1; }

.link {
  color: #3892FC;
  text-decoration: underline; }

@media only screen and (max-width: 960px) {
  .cat-header {
    text-align: center;
    background: #FFFFFF; } }

.cat-subheader {
  display: block; }
  @media only screen and (max-width: 960px) {
    .cat-subheader {
      text-align: center;
      padding: 15px 16px 33px 16px;
      background: #FFFFFF; } }

.color-bold {
  font-weight: 600;
  color: #f89622; }

.close-icon {
  background: #FFFFFF;
  box-shadow: 0px -2px 20px 1px rgba(0, 0, 0, 0.08);
  padding: 10px; }
  .close-icon img {
    height: 15px;
    width: 15px; }
  .close-icon--checkout {
    position: absolute;
    z-index: 999;
    top: -10px;
    right: -10px;
    opacity: .9;
    border-radius: 999px; }

.down-arrow {
  display: none;
  position: relative;
  bottom: 2px;
  left: 20px;
  display: inline-block; }
  @media only screen and (min-width: 960px) {
    .down-arrow {
      display: inline; } }
  .down-arrow:before, .down-arrow:after {
    position: absolute;
    top: 0;
    content: "";
    display: inline-block;
    width: 3px;
    height: 10px;
    background: #a8a7a2; }
  .down-arrow:after {
    transform: rotate(45deg);
    right: 1px; }
  .down-arrow:before {
    transform: rotate(-45deg);
    right: 7px; }

.closed .vertical {
  transition: all 0.5s ease-in-out;
  transform: rotate(-90deg); }

.closed .horizontal {
  transition: all 0.5s ease-in-out;
  transform: rotate(-90deg);
  opacity: 1; }

.opened {
  opacity: 1; }
  .opened .vertical {
    transition: all 0.5s ease-in-out;
    transform: rotate(90deg); }
  .opened .horizontal {
    transition: all 0.5s ease-in-out;
    transform: rotate(90deg);
    opacity: 0; }

.circle-plus {
  height: auto;
  width: 4em;
  font-size: 1em; }

.circle-plus .circle {
  position: relative;
  width: 2.55em;
  height: 2.5em;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.9); }

.circle-plus .circle .horizontal {
  position: absolute;
  background-color: #f89622;
  width: 30px;
  height: 5px;
  left: 50%;
  margin-left: -15px;
  top: 50%;
  margin-top: -2.5px; }

.circle-plus .circle .vertical {
  position: absolute;
  background-color: #f89622;
  width: 5px;
  height: 30px;
  left: 50%;
  margin-left: -2.5px;
  top: 50%;
  margin-top: -15px; }

.map-icon {
  max-width: 80px;
  margin-right: 16px; }

.checkbox-container, .radio-container {
  display: flex;
  flex-direction: column; }
  .checkbox-container .checkbox, .checkbox-container .radio, .radio-container .checkbox, .radio-container .radio {
    padding: 16px 0 15px 0;
    border-bottom: 1px solid #F8F8F8; }
  .checkbox-container .radio + .radio, .radio-container .radio + .radio {
    margin-left: 0px; }

.checkbox-container--grid {
  display: grid;
  grid: auto/repeat(2, 1fr); }

.checkbox {
  font-size: 14px; }

.radio-container--flex {
  display: flex;
  flex-direction: row; }
  .radio-container--flex .radio {
    margin-right: 12px; }

.select--options {
  margin-bottom: 16px; }

.select--large {
  width: 100%;
  height: 50px;
  font-size: 16px; }

.select select {
  background: #FAFAFA;
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  height: 50px;
  width: 100%; }

.select-height-auto {
  height: auto; }

.select:not(.is-multiple) {
  height: 50px; }

input {
  -webkit-appearance: none; }

.input-custom {
  position: relative;
  display: inline-block;
  margin-bottom: 16px; }
  .input-custom--small {
    flex: 100px 0 0; }
  .input-custom--street-address {
    margin-right: 0px !important; }
  .input-custom__field {
    border-radius: 2px;
    background: #FAFAFA;
    border: none;
    height: 50px;
    padding: 17px 0px 0px 9px;
    float: right;
    width: 100%;
    font-size: 16px;
    border: 1px solid #e8e8e8; }
    .input-custom__field--white {
      background: #FFFFFF; }
    .input-custom__field:focus {
      outline: none;
      transition: all, ease-in, 150ms; }
    .input-custom__field:focus + label {
      transition: all, ease-in, 150ms;
      transform: translate3d(0, -15%, 0);
      outline: none;
      color: #3892FC;
      text-align: left;
      font-size: 12px; }
      .input-custom__field:focus + label:after {
        top: 56px;
        opacity: 1; }
  .input-custom__label {
    transition: all, ease-in, 150ms;
    transform: translate3d(0, 0, 0);
    position: absolute;
    background: transparent;
    width: 100%;
    text-align: left;
    height: 50px;
    pointer-events: none;
    padding: 2px 0px;
    font-size: 16px; }
    .input-custom__label:after {
      content: '';
      position: absolute;
      top: 50px;
      opacity: 0;
      left: 0;
      width: 100%;
      border-bottom: 2px solid #3892FC; }
  .input-custom__label-content {
    transition: all, ease-in, 150ms;
    padding: 13px 9px;
    display: block; }

.input-filled + label {
  transition: all, ease-in, 150ms;
  transform: translate3d(0, -15%, 0);
  outline: none;
  color: #8C8C8C;
  text-align: left;
  font-size: 12px; }

.two-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px; }
  .two-inputs--flex {
    display: flex; }

.grid-container {
  display: grid;
  grid: auto/repeat(5, 1fr);
  grid-template-areas: "header header header header header" "products  products  products  products sidebar"  "footer footer footer footer sidebar"; }
  @media only screen and (max-width: 960px) {
    .grid-container {
      grid: 175px auto / 1fr;
      grid-template-areas: "header" "products" "tabbar"; } }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .grid-menu-items {
    display: flex;
    flex-wrap: wrap; }
  .menu-item--menu {
    width: calc(100% / 2 - 12px); } }
  @media all and (-ms-high-contrast: none) and (max-width: 960px), all and (-ms-high-contrast: active) and (max-width: 960px) {
    .menu-item--menu {
      width: 100%; } }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .hero-unit {
    flex: 100%; } }
  @media all and (-ms-high-contrast: none) and (max-width: 960px), all and (-ms-high-contrast: active) and (max-width: 960px) {
    .hero-unit {
      flex: 1; } }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .main-content-grid {
    flex: 0 1 70%; } }
  @media all and (-ms-high-contrast: none) and (max-width: 960px), all and (-ms-high-contrast: active) and (max-width: 960px) {
    .main-content-grid {
      flex: 1; } }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .cart {
    width: 30%; }
  .footer {
    flex: 100%; } }
  @media all and (-ms-high-contrast: none) and (max-width: 960px), all and (-ms-high-contrast: active) and (max-width: 960px) {
    .footer {
      flex: 1; } }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .checkout {
    flex: 0 1 70%; } }
  @media all and (-ms-high-contrast: none) and (max-width: 960px), all and (-ms-high-contrast: active) and (max-width: 960px) {
    .checkout {
      flex: 1; } }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .grid-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; } }
  @media all and (-ms-high-contrast: none) and (max-width: 960px), all and (-ms-high-contrast: active) and (max-width: 960px) {
    .grid-container {
      flex-direction: column; } }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .grid-checkout {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; } }
  @media all and (-ms-high-contrast: none) and (max-width: 960px), all and (-ms-high-contrast: active) and (max-width: 960px) {
    .grid-checkout {
      flex-direction: column; } }

.grid-checkout {
  grid: auto/repeat(5, 1fr);
  display: grid;
  grid-template-areas: " checkout  checkout  checkout  checkout sidebar"; }
  @media only screen and (max-width: 960px) {
    .grid-checkout {
      grid: 175px auto / 1fr;
      grid-template-areas: "checkout"; } }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .grid-checkout {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row; } }
  @media all and (-ms-high-contrast: none) and (max-width: 960px), all and (-ms-high-contrast: active) and (max-width: 960px) {
    .grid-checkout {
      flex-direction: column; } }

.grid-menu-items {
  transition: all 150ms ease-in-out;
  display: grid;
  grid-template-columns: 1fr 1fr; }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .grid-menu-items {
      display: flex;
      flex-wrap: wrap; } }
  @media only screen and (max-width: 960px) {
    .grid-menu-items {
      grid-template-columns: 1fr; } }

.hero-unit {
  grid-area: header; }

.main-content-grid {
  grid-area: products; }
  @media only screen and (min-width: 960px) {
    .main-content-grid {
      background: #F7F7F7; } }

.checkout {
  grid-area: checkout; }

.product-nav-grid {
  grid-area: products-nav; }

.footer {
  grid-area: footer; }
  @media only screen and (max-width: 960px) {
    .footer {
      display: none !important; } }

.right-footer {
  grid-area: right-footer; }

body {
  background: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  margin: 0; }

body, html {
  transition: all 150ms ease-in-out; }

.cart-header {
  padding: 25px; }

img {
  display: block; }

.my-container {
  padding: 0 16px;
  max-width: 960px;
  margin: 0 auto; }
  @media only screen and (max-width: 960px) {
    .my-container--remove {
      padding: 0; } }
  .my-container--checkout {
    max-width: 1200px; }
    @media only screen and (max-width: 960px) {
      .my-container--checkout {
        padding: 0; } }
  .my-container--new-user {
    max-width: 1200px;
    display: flex;
    align-items: flex-start; }
    @media only screen and (max-width: 960px) {
      .my-container--new-user {
        flex-direction: column; } }
  .my-container--maps {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center; }

@media only screen and (max-width: 960px) {
  .cart-container {
    z-index: 998;
    padding: 16px;
    position: relative;
    background: white; } }

.cart-container .cart__items {
  margin-top: -100px;
  margin-bottom: 130px; }

.cart {
  grid-area: sidebar;
  background: #FFFFFF;
  min-width: 330px;
  border: 1px solid #e8e8e8;
  border-top: 0;
  z-index: 999;
  overflow-y: auto; }
  @media only screen and (max-width: 960px) {
    .cart {
      display: none !important; } }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .cart {
      min-width: 0px; } }
  .cart__header {
    padding: 24px;
    text-align: center;
    border-bottom: 2px solid #F8F8F8; }
  .cart--fixed {
    position: sticky;
    position: -webkit-sticky;
    right: 0;
    height: 100vh;
    top: 0; }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      .cart--fixed {
        position: fixed; } }
  .cart ul {
    width: 100%; }

.show-mobile-cart {
  display: inline !important;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0px;
  z-index: 9999; }
  .show-mobile-cart div .cart-contents .menu-item:hover .menu-item__price {
    transform: translateX(0px); }
  .show-mobile-cart div .cart-contents .menu-item:hover .menu-item__content {
    transform: translateX(0px); }
  .show-mobile-cart div .cart-contents .menu-item .hidden-options {
    transform: translateX(0px);
    position: relative;
    height: auto; }
  .show-mobile-cart div .cart-contents .menu-item__price .item-gty {
    opacity: 1; }

.order-summary-container .menu-item .hidden-options {
  display: none; }

.order-summary-container .menu-item__price .item-qty {
  display: none; }

.tabbar {
  position: fixed;
  bottom: 0px;
  grid-area: tabbar;
  background: #FFFFFF;
  z-index: 999;
  height: 56px;
  width: 100%;
  display: flex;
  box-shadow: 0px -2px 20px 1px rgba(0, 0, 0, 0.08); }
  @media only screen and (min-width: 960px) {
    .tabbar {
      display: none !important; } }
  .tabbar a {
    display: flex;
    position: relative;
    height: 100%;
    flex: 1; }
    .tabbar a span {
      font-size: 16px;
      margin: auto;
      font-weight: 600; }
    .tabbar a .active {
      color: #f89622; }
      .tabbar a .active:after {
        content: '';
        left: 50%;
        bottom: 0;
        margin-left: -60px;
        position: absolute;
        border-radius: 999px;
        height: 3px;
        width: 120px;
        background-color: #f89622; }

.category-picker {
  background: #FFFFFF;
  border-bottom: 1px solid #e8e8e8;
  overflow-y: auto;
  max-width: 100vw; }
  .category-picker--fixed {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0px -2px 20px 1px rgba(0, 0, 0, 0.08); }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      .category-picker--fixed {
        position: fixed;
        width: 70%; } }
  @media only screen and (max-width: 960px) {
    .category-picker {
      border-top: 1px solid #e8e8e8;
      box-shadow: 0px -2px 20px 1px rgba(0, 0, 0, 0.08); } }
  .category-picker ul li {
    margin-right: 34px;
    position: relative;
    flex: 0 0 auto;
    padding: 20px 0; }
    .category-picker ul li a {
      font-size: 14px;
      color: #f89622;
      opacity: .7;
      font-weight: 600; }
      .category-picker ul li a:hover {
        opacity: 1; }
    .category-picker ul li:last-of-type {
      padding-right: 20px; }
  @media only screen and (max-width: 960px) {
    .category-picker ul li {
      margin-right: 20px; }
      .category-picker ul li a {
        font-weight: 600; } }

.active-li {
  opacity: 1 !important; }
  .active-li:after {
    content: '';
    left: 50%;
    bottom: 10px;
    margin-left: -25px;
    position: absolute;
    border-radius: 999px;
    height: 3px;
    width: 50px;
    background-color: #f89622; }

.menu-item {
  display: flex;
  background: #FFFFFF;
  position: relative;
  border-top: 1px solid #F8F8F8;
  cursor: pointer; }
  .menu-item--edit-mode {
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid #e8e8e8;
    background: white;
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.08); }
  .menu-item:last-of-type {
    border-bottom: 1px solid #F8F8F8; }
  @media only screen and (max-width: 960px) {
    .menu-item {
      box-shadow: none;
      margin-bottom: 0px; }
      .menu-item:nth-of-type(odd) {
        margin-right: 0px; } }
  .menu-item--no-image {
    border-top: 2px solid #F8F8F8;
    overflow: hidden;
    min-height: 90px; }
    .menu-item--no-image:first-of-type {
      border-top: 0; }
    .menu-item--no-image:last-of-type {
      border-bottom: 1px solid #F8F8F8; }
  @media only screen and (min-width: 960px) {
    .menu-item--menu {
      overflow: hidden;
      transition: box-shadow 150ms ease-in-out, transform 150ms ease-in-out;
      border-radius: 4px;
      box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.08);
      margin-bottom: 16px; }
      .menu-item--menu:nth-of-type(odd) {
        margin-right: 20px; }
      .menu-item--menu:hover {
        box-shadow: 0px 7px 17px rgba(0, 0, 0, 0.18);
        transform: translateY(-1px); }
        .menu-item--menu:hover .menu-item__image:before {
          transition: opacity 150ms ease-in-out;
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          opacity: 1;
          z-index: 998; }
        .menu-item--menu:hover .btn__menu-item-overlay {
          opacity: 1;
          transform: translateY(52px);
          z-index: 999; }
          .menu-item--menu:hover .btn__menu-item-overlay--no-image {
            transform: translateY(34px) !important; } }
  .menu-item--menu--no-image:before {
    transition: opacity 150ms ease-in-out;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    content: '';
    z-index: 999; }
  .menu-item--menu--no-image:hover {
    border-bottom: 0; }
    .menu-item--menu--no-image:hover:before {
      transition: opacity 150ms ease-in-out;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 1;
      z-index: 999; }
    .menu-item--menu--no-image:hover .btn__menu-item-overlay {
      opacity: 1;
      transform: translateY(52px);
      z-index: 1000; }
  .menu-item--cart {
    border-radius: 14px;
    margin-bottom: 16px;
    margin-bottom: 16px;
    box-shadow: 0px -2px 20px 1px rgba(0, 0, 0, 0.08);
    border: none; }
    .menu-item--cart:last-of-type {
      margin-bottom: 72px; }
  .menu-item--cart-desktop {
    transition: opacity 150ms ease-in-out; }
    .menu-item--cart-desktop:hover .hidden-options {
      transform: translateX(0px); }
    .menu-item--cart-desktop:hover .menu-item__content, .menu-item--cart-desktop:hover .menu-item__price {
      transform: translateX(-60px); }
    .menu-item--cart-desktop:hover .item-qty {
      transition: opacity 150ms ease-in-out;
      opacity: 1; }
  .menu-item__image {
    flex: 4;
    height: 140px;
    position: relative; }
    .menu-item__image:before {
      transition: opacity 150ms ease-in-out;
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      opacity: 0;
      width: 100%;
      height: 100%;
      content: ''; }
    @media only screen and (max-width: 960px) {
      .menu-item__image {
        padding: 20px 20px 20px 0; } }
    .menu-item__image img {
      background-size: cover;
      height: 100%;
      object-fit: cover;
      float: right; }
  .menu-item__content {
    transition: transform 150ms ease-in-out;
    flex: 6;
    display: flex;
    flex-direction: column;
    padding: 16px; }
    .menu-item__content p {
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      display: -webkit-box;
      overflow: hidden; }
    .menu-item__content h5 {
      margin-bottom: 4px; }
  .menu-item__price {
    transition: transform 150ms ease-in-out;
    padding: 16px;
    flex: 1; }

.label-section {
  display: flex;
  flex-direction: column;
  margin: 30px 16px 0 16px; }
  .label-section--border {
    border-bottom: 1px solid #F8F8F8; }
  .label-section--full-width {
    margin: 30px 0 0 0; }
  @media only screen and (min-width: 960px) {
    .label-section--checkout {
      flex-direction: row;
      padding: 30px 0 0 0;
      border-top: 1px solid #e8e8e8; } }

.header {
  background-color: #FFFFFF;
  padding: 16px 24px; }
  .header--elevated {
    box-shadow: 0px -2px 20px 1px rgba(0, 0, 0, 0.08); }

.checkout-content {
  display: inline-block;
  width: 100%; }
  @media only screen and (min-width: 960px) {
    .checkout-content {
      background: #FFFFFF;
      box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.08);
      padding: 24px;
      position: relative;
      top: -160px;
      z-index: 999; } }

.payment {
  flex: 4; }

.payment-choice {
  display: inline-block;
  background: #FAFAFA;
  border: 1px solid #e8e8e8;
  margin: 0 0 24px 16px;
  border-radius: 2px; }
  .payment-choice .radio {
    padding: 10px 16px 10px 16px; }

.add-card {
  display: none; }
  @media only screen and (max-width: 960px) {
    .add-card {
      flex-direction: column; } }

.show {
  display: flex; }

.button-widget {
  border-top: 1px solid #F8F8F8;
  border-bottom: 1px solid #F8F8F8;
  background: #FFFFFF;
  display: flex;
  padding: 16px; }
  .button-widget h5 {
    flex: 1; }
  .button-widget__icon {
    flex: 15px 0 0; }

.white-bg-container {
  padding: 16px;
  background: #FFFFFF;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  flex-direction: column; }
  @media only screen and (max-width: 960px) {
    .white-bg-container {
      grid-template-columns: 1fr; } }
  .white-bg-container--full-width {
    padding: 0; }
  @media only screen and (min-width: 960px) {
    .white-bg-container--checkout {
      flex: 4;
      padding-top: 0px; } }
  .white-bg-container--single-column {
    grid-template-columns: 1fr; }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .white-bg-container {
      display: flex; } }

.order-totals {
  background: #FFFFFF;
  padding: 16px;
  border-top: 1px solid #F8F8F8; }
  .order-totals--right {
    max-width: 400px;
    position: relative;
    background: #f7f7f7; }
  .order-totals__row {
    display: flex;
    justify-content: space-between; }
    .order-totals__row--subheader {
      color: #8C8C8C; }
    .order-totals__row--header {
      padding-top: 16px;
      margin-top: 16px; }
      .order-totals__row--header h5 {
        font-weight: 600; }

.hidden-options {
  transition: transform 150ms ease-in-out;
  transform: translateX(60px);
  display: flex;
  width: 60px;
  flex-direction: column;
  background-color: #f8f8f8;
  position: absolute;
  height: 100%;
  right: 0px;
  border-left: 2px solid #F8F8F8; }
  .hidden-options__delete {
    border-bottom: 2px solid rgba(0, 0, 0, 0.075); }
    .hidden-options__delete img {
      background-color: #ff5722;
      padding: 5px; }
  .hidden-options__edit img {
    background-color: #2196f3;
    padding: 8px; }
  .hidden-options__delete, .hidden-options__edit {
    transition: opacity 150ms ease-in-out;
    opacity: .8;
    flex: 1;
    display: flex;
    align-self: center;
    align-items: center; }
    .hidden-options__delete:hover, .hidden-options__edit:hover {
      opacity: 1; }
    .hidden-options__delete img, .hidden-options__edit img {
      position: relative;
      transition: background-color 150ms ease-in-out;
      height: 30px;
      border-radius: 4px;
      width: 30px; }

.footer {
  background: #252525;
  display: flex; }
  .footer__item {
    flex: 1;
    flex-direction: column;
    display: flex;
    padding: 0px 15px 0px 15px; }
    .footer__item .big-logo {
      width: 180px; }
    .footer__item span {
      color: #ff5000;
      font-size: 18px; }

.order-summary-container {
  flex-direction: column;
  flex: 4; }
  .order-summary-container .menu-item {
    padding-top: 0px; }
    .order-summary-container .menu-item__price {
      text-align: right; }
    @media only screen and (min-width: 960px) {
      .order-summary-container .menu-item:first-of-type {
        min-height: 0px; }
        .order-summary-container .menu-item:first-of-type .menu-item__price {
          padding-top: 0px; } }

.group-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; }
  .group-item__name {
    flex: 2;
    margin-right: 20px;
    word-break: break-all; }
    .group-item__name span {
      display: block;
      margin-bottom: 10px; }
  .group-item__add, .group-item__qty, .group-item__price {
    flex: 1; }
  .group-item__delete {
    height: 30px;
    max-width: 30px;
    background: #ff5000;
    padding: 5px;
    overflow: auto;
    border-radius: 4px;
    flex: 1; }
  .group-item--footer {
    justify-content: flex-end;
    margin-bottom: 0px; }
  .group-item-container {
    background: #f7f7f7;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px; }

.order-settings-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 20px; }
  @media only screen and (min-width: 960px) {
    .order-settings-container {
      position: relative;
      top: -140px;
      z-index: 999;
      flex-direction: row; } }

@media only screen and (min-width: 960px) {
  .order-settings__1, .order-settings__2 {
    padding: 24px;
    background: #FFFFFF;
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.08); } }

.order-settings__1 {
  flex: 1;
  margin-right: 20px; }
  @media only screen and (max-width: 960px) {
    .order-settings__1 {
      background-color: #f7f7f7;
      padding: 20px;
      margin-right: 0px; } }

.order-settings__2 {
  flex: 1; }

.order-type-selection-dropdown {
  display: none; }
  @media only screen and (max-width: 960px) {
    .order-type-selection-dropdown {
      display: inline;
      margin-bottom: 20px; } }

.order-type-selection-btn {
  display: inline; }
  @media only screen and (max-width: 960px) {
    .order-type-selection-btn {
      display: none !important; } }

.plusminus {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  font-size: 20px; }
  .plusminus input {
    padding: 10px 0px 10px 12px;
    background: #fbfbfb;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    color: #f89622;
    border: 1px solid #e8e8e8; }

.item-qty {
  transition: opacity 150ms ease-in-out;
  background: #f7f7f7;
  border: none;
  padding: 7px 7px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  color: #737373;
  width: 36px;
  flex: 1;
  position: absolute;
  bottom: 9px;
  opacity: 0; }

@media only screen and (max-width: 960px) {
  .tip-container {
    padding: 16px; } }

.order-complete__icon {
  position: relative;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  background: #1EDF94;
  height: 100px;
  width: 100px;
  border-radius: 999px;
  border: 6px solid #fff; }
  .order-complete__icon:before {
    content: '';
    width: 40px;
    height: 20px;
    position: absolute;
    top: 30px;
    left: 26px;
    border: 8px solid #fff;
    border-top: none;
    border-right: none;
    background: transparent;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.order-complete__review {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
  background: #fbfbfb; }

@media only screen and (max-width: 960px) {
  .time-options {
    flex-direction: column; } }

.alert {
  width: 100%;
  background: #ef5252;
  padding: 20px;
  color: white; }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .white-bg-container {
    display: flex; }
    .white-bg-container .label--checkout {
      margin-bottom: 40px; } }

.cat-image {
  display: flex;
  height: 120px;
  margin-top: 56px;
  margin-bottom: 40px;
  align-items: center;
  justify-content: space-between;
  background-size: cover;
  background-image: url("../img/hero-image-desktop.png"); }
  @media only screen and (max-width: 960px) {
    .cat-image {
      text-align: center;
      margin-top: 0px;
      margin-bottom: 0px;
      background: #FFFFFF;
      background-size: cover;
      background-image: url("../img/hero-image-desktop.png"); } }

.cat-content {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.08);
  margin-left: 20px;
  padding: 12px 20px; }
  @media only screen and (max-width: 960px) {
    .cat-content {
      display: none; } }

.cat-image-h2 {
  display: none; }
  @media only screen and (max-width: 960px) {
    .cat-image-h2 {
      display: inline-block; } }

.cat-image-span {
  display: none; }
  @media only screen and (max-width: 960px) {
    .cat-image-span {
      display: block; } }

.cat-default {
  margin-top: 56px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between; }

@media only screen and (max-width: 960px) {
  .circle-desktop {
    display: none; } }

.one-line {
  display: none; }
  @media only screen and (max-width: 960px) {
    .one-line {
      display: flex;
      justify-content: center;
      padding: 35px 0px 0px 0;
      flex-direction: row;
      align-items: center; } }

.grid-menu-items-collapse {
  display: none; }

.search {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 80%; }

.map-section {
  display: flex; }
  .map-section__labels {
    flex: 2;
    margin-right: 20px; }
  .map-section__map {
    flex: 4; }
  .map-section__info {
    display: flex;
    margin-bottom: 40px; }
    .map-section__info .map-content {
      display: flex;
      flex-direction: column; }
      .map-section__info .map-content span {
        margin-bottom: 10px; }

.hero-unit {
  height: 175px;
  width: 100%;
  position: relative; }
  .hero-unit--order-complete {
    display: flex;
    flex-direction: column;
    height: 280px;
    align-items: center;
    padding-bottom: 50px;
    justify-content: center;
    background-size: cover;
    background-image: url("/images/theme/ng2019/hero-image-desktop.png"); }
  .hero-unit--checkout {
    background-size: cover;
    background-image: url("../img/hero-image-desktop.png"); }
  .hero-unit--cart {
    clip-path: ellipse(100% 87% at 50% 10%);
    background-size: cover;
    background-image: url("/images/theme/ng2019/hero-image-desktop.png"); }
  .hero-unit--menu {
    display: flex;
    height: 280px;
    align-items: center;
    background-size: cover;
    background-image: url("../img/hero-image-desktop.png"); }
    @media only screen and (max-width: 960px) {
      .hero-unit--menu {
        height: 175px;
        background-size: cover;
        background-image: url("../img/hero-image-desktop.png"); } }
  .hero-unit--menu:after, .hero-unit--cart:after, .hero-unit--order-complete:after {
    background-color: #FFFFFF;
    opacity: .3;
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px; }

.flex--h-center {
  flex: auto;
  align-items: center; }

.flex--v-center {
  flex: auto;
  align-content: center; }

.flex-1 {
  flex: 1; }

.flex-2 {
  flex: 2; }

.flex-3 {
  flex: 3; }

.flex-4 {
  flex: 4; }

.flex-direction-column {
  flex-direction: column; }

.width--100 {
  width: 100%; }

.width--80 {
  width: 80%; }

.margin-top-40 {
  margin-top: 40px; }

.margin-top-20 {
  margin-top: 20px; }

.margin-top-0 {
  margin-top: 0px; }

.margin-bottom-0 {
  margin-bottom: 0 !important; }

.margin-bottom-20 {
  margin-bottom: 20px; }

.margin-bottom-40 {
  margin-bottom: 40px; }

.margin-right-20 {
  margin-right: 20px; }

.margin-left-0 {
  margin-left: 0px; }

.margin-left-20 {
  margin-left: 20px; }

.padding-bottom-20 {
  padding-bottom: 20px; }

.border-bottom {
  border-bottom: 1px solid #F8F8F8; }

.border-top {
  border-top: 1px solid #F8F8F8; }

@media only screen and (max-width: 960px) {
  .has-text-centered--mobile {
    text-align: center; } }

.display-flex {
  display: flex; }

.display-none {
  display: none; }

.display-block {
  display: block; }

.hide {
  display: none !important; }

.bold {
  font-weight: 600; }

.text-align-right {
  text-align: right; }
