.checkbox-container, .radio-container
      display: flex
      flex-direction: column

      .checkbox, .radio
            padding: 16px 0 15px 0
            border-bottom: $border-light

      .radio+.radio
            margin-left: 0px