.sticky-button
      position: sticky
      bottom: 0px
      background: $white 
      height: auto
      z-index: $z-index-1
      width: 100%
      padding: 10px
      box-shadow: 0px -2px 20px 1px rgba(0,0,0, .08)

      &--modal 
            @media only screen and (min-width: 960px)
                  width: 500px

      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
            position: fixed

.button-container
      padding: $px-gutter-base-mobile
      display: flex

      &--cart 
            bottom: $tabbar-height
            padding:  $px-gutter-base-mobile 60px 
            width: 100%
            position: fixed
            z-index: $z-index-1

      &--cart-desktop
            padding-bottom: 0

.btn
      border: none
      text-align: center
      padding: 14px 30px
      font-size: 20px
      font-weight: 900
      font-family: 'Roboto', sans-serif
      cursor: pointer 

      &-disabled 
            background: #d8d8d8
            cursor: none

      &:hover
            color: $white

      &__menu-item-overlay
            transition: transform $transition-duration-default ease-in-out, opacity $transition-duration-default ease-in-out
            position: absolute
            transform: translateY(150px)
            opacity: 0
            background: $primary-color
            color: $white
            border-radius: $border-radius-default
            padding: 8px 14px
            font-size: 14px
            left: 50%
            margin-left: -45px

      &--checkout
            width: 100%
            padding: 0px
            display: flex 
            background-color: $primary-color
            color: $white 
            border-radius: 28px
            box-shadow: 0px -2px 20px 1px rgba(0,0,0, .08)

      &--cta 
            transition: transform $transition-duration-default ease-in-out, box-shadow $transition-duration-default ease-in-out, background-color $transition-duration-default ease-in-out
            width: 100%
            background: $primary-color
            transform: translateY(0)
            border-radius: 10px
            color: $white 
            flex: 2

            &--cart-desktop
                  padding: 10px 20px

            &:hover 
                  transform: translateY(-2px)
                  box-shadow: 0px 24px 20px -20px rgba(255, 133, 32, .88)
                  background-color: darken($primary-color, 5%)

            &--light 
                  background-color: $primary-color-light

                  &:hover 
                        background-color: darken($primary-color-light, 5%)

            &--width-auto
                  width: auto

            a 
                  color: $white

      &__price
            flex: 1
            padding: 16px 20px
            background-color: #F87509
            border-top-left-radius: 28px
            border-bottom-left-radius: 28px

      &__copy
            padding: 16px 20px
            flex: 4

      &__secondary
            transition: transform $transition-duration-default ease-in-out, box-shadow $transition-duration-default ease-in-out, background-color $transition-duration-default ease-in-out
            border: 2px solid $primary-color
            color: $primary-color
            border-radius: 10px
            flex: 1
      
            &:hover 
                  transform: translateY(-2px)
                  background: $primary-color
                  box-shadow: 0px 24px 20px -20px rgba(255, 133, 32, .88)
                  color: $white

      &--map 
            padding: 30px 0px

.btn--active
      background-color: darken($primary-color, 10%)

.cart-mobile-btn
      display: none 

      @media only screen and (max-width: 960px)
            position: fixed
            bottom: 0px
            width: 100%
            display: flex

            &__price
                  background: $primary-color
                  padding: 18px
                  flex: 1
                  
            &__text
                  background: lighten($primary-color, 5%)
                  padding: 18px
                  flex: 2

            &__price, &__text
                  padding: 16px
                  color: white
                  text-align: center 
                  font:
                        weight: 600
                        size: 18px