.navbar
      border-bottom: $border-default 
      z-index: $z-index-0 
      
.navbar-item
      img 
            max-height: 100%
            left: 50%
            position: relative
            margin-left: -16px

.navbar-brand
      @media only screen and (max-width: 960px)
             display: block 
             
.navbar-burger
      position: absolute
      right: 0px

.back-btn
      position: absolute
      height: 100%
      padding: 13px

      img 
            height: 24px
            width: auto

.logo 
      height: auto 
      margin-top: 10px
      display: flex

      @media only screen and (max-width: 1087px)
            position: absolute
            margin-left: 15px

      img 
            height: 34px
            width: 34px

      .rest-name
            padding: 5px 10px
            font-size: 18px
            font-weight: 600
            color: $primary-color
